<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072792626848-allb654pm02tmp6qbnso2ma8pmd16h8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072792626848-allb654pm02tmp6qbnso2ma8pmd16h8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCyVJygEk0L8C0TSuvJI658k_lfqO-8NtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1072792626848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asroo</string>
	<key>PROJECT_ID</key>
	<string>asroo-9806e</string>
	<key>STORAGE_BUCKET</key>
	<string>asroo-9806e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072792626848:ios:9427651e0490360f848bc5</string>
</dict>
</plist>